@font-face {
  font-family: "Inter-ExtraBold";
  font-weight: bold;
  src: url("./fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  font-weight: normal;
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  font-weight: normal;
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
}

body {
  font-family: "Inter-Medium";
}
